.DS_Store
wiley.zip
*~
*.swp
cindy-as-tim.psd
tim-runcie-clown.psd
DSC_8749ps.psd
goto*.json
webdev/
ruby/corundum-hoard/.git
~*.idlk
adv-jekyll/
books/*
books/advisicon-books/
books/advisicon-books/MPwMP2013/
